* text=auto !eol
levels/load-test.wpf -text
lvl_edit/WP[!!-~]Level[!!-~]Editor.cbp -text
lvl_edit/arial.ttf -text
lvl_edit/arrow-hor-left.png -text
lvl_edit/arrow-hor-right.png -text
lvl_edit/arrow-hor.png -text
lvl_edit/arrow-horr.png -text
lvl_edit/arrow-vert-down.png -text
lvl_edit/arrow-vert-up.png -text
lvl_edit/arrow-vert.png -text
lvl_edit/arrow-vertr.png -text
lvl_edit/button-save.PNG -text
lvl_edit/conveyor-hor.PNG -text
lvl_edit/conveyor-vert.PNG -text
lvl_edit/conveyor.h -text
lvl_edit/gate-blue-hor.PNG -text
lvl_edit/gate-blue-vert.PNG -text
lvl_edit/gate-green-hor.PNG -text
lvl_edit/gate-green-vert.PNG -text
lvl_edit/gate-orange-hor.PNG -text
lvl_edit/gate-orange-vert.PNG -text
lvl_edit/gate-purple-hor.PNG -text
lvl_edit/gate-purple-vert.PNG -text
lvl_edit/gate-red-hor.PNG -text
lvl_edit/gate-red-vert.PNG -text
lvl_edit/gate-yellow-hor.PNG -text
lvl_edit/gate-yellow-vert.PNG -text
lvl_edit/gate.h -text
lvl_edit/incinerator.PNG -text
lvl_edit/main.cpp -text
lvl_edit/random_class.h -text
lvl_edit/truck-hor.PNG -text
lvl_edit/truck-vert.PNG -text
lvl_edit/truck.h -text
lvl_edit/warehouse-template.png -text
media/arial.ttf -text
media/button_pause.png -text
media/button_pause_on.png -text
media/button_quit.png -text
media/button_quit_on.png -text
media/conveyor_dir1.png -text
media/conveyor_dir1_turn_left.png -text
media/conveyor_dir1_turn_right.png -text
media/conveyor_dir2.png -text
media/conveyor_dir2_turn_left.png -text
media/conveyor_dir2_turn_right.png -text
media/conveyor_dir3.png -text
media/conveyor_dir3_turn_left.png -text
media/conveyor_dir3_turn_right.png -text
media/conveyor_dir4.png -text
media/conveyor_dir4_turn_left.png -text
media/conveyor_dir4_turn_right.png -text
media/crate-blue.png -text
media/crate-green.png -text
media/crate-orange.png -text
media/crate-purple.png -text
media/crate-red.png -text
media/crate-yellow.png -text
media/font_a_small.png -text
media/font_b_small.png -text
media/font_c_small.png -text
media/font_d_small.png -text
media/font_i_small.png -text
media/gate-blue-left-bg.png -text
media/gate-blue-left-fg.png -text
media/gate-blue-right-bg.png -text
media/gate-blue-right-fg.png -text
media/gate-green-left-bg.png -text
media/gate-green-left-fg.png -text
media/gate-green-right-bg.png -text
media/gate-green-right-fg.png -text
media/gate-orange-left-bg.png -text
media/gate-orange-left-fg.png -text
media/gate-orange-right-bg.png -text
media/gate-orange-right-fg.png -text
media/gate-purple-left-bg.png -text
media/gate-purple-left-fg.png -text
media/gate-purple-right-bg.png -text
media/gate-purple-right-fg.png -text
media/gate-red-left-bg.png -text
media/gate-red-left-fg.png -text
media/gate-red-right-bg.png -text
media/gate-red-right-fg.png -text
media/gate-yellow-left-bg.png -text
media/gate-yellow-left-fg.png -text
media/gate-yellow-right-bg.png -text
media/gate-yellow-right-fg.png -text
media/green_soldier.png -text
media/incinerator.png -text
media/keyboard.png -text
media/loading.png -text
media/music_Free[!!-~]Hip[!!-~]Hop[!!-~]3-9480-Free-Loops.com.wav -text
media/music_Sweet[!!-~]RnB[!!-~]Beat-23820-Free-Loops.com.wav -text
media/red_soldier.png -text
media/snd_button-25.wav -text
media/snd_button-30.wav -text
media/text_paused.png -text
media/truck-right.png -text
src/Conveyor.h -text
src/Crate.h -text
src/Functions.h -text
src/Gate.h -text
src/Keyboard.cpp -text
src/Keyboard.h -text
src/Level.h -text
src/Object.h -text
src/SceneCredits.cpp -text
src/SceneCredits.h -text
src/SceneGame.cpp -text
src/SceneGame.h -text
src/SceneHighscore.cpp -text
src/SceneHighscore.h -text
src/SceneMenu.cpp -text
src/SceneMenu.h -text
src/Settings.h -text
src/Text.cpp -text
src/Text.h -text
src/Truck.h -text
src/WCEngine/Application.cpp -text
src/WCEngine/Application.h -text
src/WCEngine/EventManager.cpp -text
src/WCEngine/EventManager.h -text
src/WCEngine/ResourceManager.cpp -text
src/WCEngine/ResourceManager.h -text
src/WCEngine/Scene.cpp -text
src/WCEngine/Scene.h -text
src/WCEngine/main.cpp -text
src/game.cbp -text
work/button.psd -text
work/game_flow_chart.psd -text
work/keyboard.psd -text
work/text.psd -text
work/truck.xcf -text
