* text=auto !eol
media/Sweet[!!-~]RnB[!!-~]Beat-23820-Free-Loops.com.wav -text
media/advancewars.gif -text
media/arial.ttf -text
media/arrow-hor-left.png -text
media/arrow-hor-right.png -text
media/arrow-vert-left.png -text
media/arrow-vert-right.png -text
media/arrow-vertr-left.png -text
media/arrow-vertr-right.png -text
media/conveyor-hor.png -text
media/conveyor-vert.png -text
media/crate-blue.png -text
media/crate-green.png -text
media/crate-orange.png -text
media/crate-purple.png -text
media/crate-red.png -text
media/crate-yellow.png -text
media/gate-blue-right.png -text
media/gate-green-right.png -text
media/gate-orange-right.png -text
media/gate-purple-right.png -text
media/gate-red-right.png -text
media/gate-yellow-right.png -text
media/green_soldier.png -text
media/incinerator.png -text
media/red_soldier.png -text
media/truck-right.png -text
src/SceneGame.cpp -text
src/SceneGame.h -text
src/SceneMenu.cpp -text
src/SceneMenu.h -text
src/WCEngine/Application.cpp -text
src/WCEngine/Application.h -text
src/WCEngine/EventManager.cpp -text
src/WCEngine/EventManager.h -text
src/WCEngine/ResourceManager.cpp -text
src/WCEngine/ResourceManager.h -text
src/WCEngine/Scene.cpp -text
src/WCEngine/Scene.h -text
src/WCEngine/main.cpp -text
src/conveyor.h -text
src/crate.h -text
src/game.cbp -text
src/gate.h -text
src/truck.h -text
